	<link rel="stylesheet" type="text/css" href="stil.css" />
	<div class="float">
		<img id="logo" src="black.png"/>
	</div>
	<div class="clearFloat"></div>
	<h2 style="margin-bottom:4px" id="title"></h2>
	<a href="index.php">Domaca stran</a>
	<a href="moznostiPotovanj.php">Moznosti potovanj</a>
	<a href="dodajRezervacijo.php">Rezervacija potovanja</a>
	<a href="podatkiRezervacije.php">Podatki o rezervaciji</a>
	<a href ="podatkiRezervacije_edit_del.php">Posodobi/izbrisi rezervacijo</a> 
	<a href="index.php" onClick="window.localStorage.removeItem('access_token')">Odjava</a>
	<hr/>
	<script type="text/javascript">
	document.getElementById("title").innerHTML="Potovalni nacrt - uporabniski vmesnik - "+localStorage.getItem("username");
	</script>