	<head>
	<title>Potovalni nacrt - Administrator</title>
	</head>
	<link rel="stylesheet" type="text/css" href="stil.css" />
	<div class="float">
		<img id="logo" src="black.png"/>
	</div>
	<div class="clearFloat"></div>
	<h2 style="margin-bottom:4px" id="title"></h2>
	<a href="index.php">Domaca stran</a>
	<a href="dodajOsebo.php">Dodajanje osebe</a>
	<a href="vseOsebe.php">Vse osebe</a>
	<a href="podatkiOsebe.php">Podatki osebe</a>
	<a href="vsaPotovanja_admin.php">Vsa potovanja</a>
	<a href="vseRezervacije_admin.php">Vse rezervacije</a>
	<a href="index.php" onClick="window.localStorage.removeItem('access_token')">Odjava</a>
	<hr/>
	<script type="text/javascript">
	document.getElementById("title").innerHTML="Potovalni nacrt - administratorski vmesnik - "+localStorage.getItem("username");
	</script>